@font-face{
    font-family: 'Croissant One';src:url('../fonts/croissantone-regular.ttf');/*font pour le titre du menu*/
}
@font-face{font-family: 'Eras Bold';src:url('../fonts/ERASBD.TTF');/*font pour ohmyfood*/
}
#bar-tete{border-bottom:5px solid  rgb(100, 47, 100);}
#logo img{padding-left: 5px;}
.row{margin:0px;}
a.nav-link{color:rgb(100, 47, 100);margin-left: 10px;font-weight: bold;}
#services, #contact, #accueil{color:rgb(100, 47, 100);}
#produits{color:black;font-size: 1.2em;}
.card{color:rgb(100, 47, 100);text-align: center;font-weight: bold;}
.card p{font-size: 1.2em;}
strong{color:limegreen;}
.navbar-toggler{margin-left: 10%;}
#footer{border-top:5px solid rgb(100, 47, 100);}
#footer span{border-bottom: 2px solid rgb(100, 47, 100);}
#adresse{padding-left: 3%;}
/*Body*/
#bar{
    background-color: rgb(47, 83, 100);
    margin-right: 0px;margin-left: 0px;opacity:81%;
}
#logo img{
    margin-left: 5px;
}
a.nav-link{
    margin-left: 10px;
    
}
#accueil-menu, #produits-menu{
    padding-top: 30px;color:white;
}
menu{
    width: 80%;margin:auto;background-color:  rgb(255,245,254);padding-bottom: 300px;margin-bottom: 120px;
}
.presentation{
    font-family: 'Croissant One';font-weight: bold;font-size: 40px;width: 80%;margin:auto;margin-top:2% ;height: 100px;padding-top: 1%;text-align: center;
    background: linear-gradient( to right,rgb(199,116,18),rgb(157,98,219),rgb(204,172,252));
    background-clip: text;-webkit-background-clip: text;color:transparent;  
}
.presentation h1{
    margin:0px;padding:0px;width:100%;
}
section{
    margin:0;display: flex;flex-direction: column;width: 90%;margin:auto;padding-bottom: 30px;
}
.titre{
    display:flex;flex-direction: row;width: 95%;padding-bottom: 2%;padding-left:60px;
}
.entree h2{
    margin:0;padding:0;padding-top:5px;width:40%;font-family:'Arial Script MT';text-align: center;font-size: 2rem;
}
.entree h2{
    text-decoration: none;background:linear-gradient(to top, rgba(199, 116, 18, 1) 0%, rgba(199, 116, 18, 1) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;transition: background-size .5s;
}
.entree h2:hover {
    background-size: 100% 100%;
}
.motif1{
    width: 0;height: 0;border-top: 10px solid transparent;border-top: 10px solid transparent;border-right: 285px solid rgb(199,116,18);margin-top: 20px;
}
.motif2{
    width: 0;height: 0;border-top: 10px solid transparent;border-top: 10px solid transparent;border-left: 285px solid rgb(199,116,18);margin-top: 20px;  
}
.plat h2{
    margin:0;padding:0;padding-top:5px;width: 40%;font-family:'Arial Script MT';text-align: center;font-size: 2rem;
}
.plat h2{
    text-decoration: none;background:linear-gradient(to top, rgba(157, 98, 219, 1) 0%, rgba(157, 98, 219, 1) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;transition: background-size .5s;
}
.plat h2:hover {
    background-size: 100% 100%;
}
.motif3{
    width: 0;height: 0;border-top: 10px solid transparent;border-top: 10px solid transparent;border-right: 285px solid rgb(157,98,219);margin-top: 20px;
}
.motif4{
    width: 0;height: 0;border-top: 10px solid transparent;border-top: 10px solid transparent;border-left: 285px solid rgb(157,98,219);margin-top:20px; 
}
.dessert h2{
    margin:0;padding:0;padding-top:5px;width: 40%;font-family:'Arial Script MT';text-align: center;font-size: 2rem;
}
.dessert h2{
    text-decoration: none;background:linear-gradient(to top, rgba(110, 76, 204, 1) 0%, rgba(110, 76, 204, 1) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;transition: background-size .5s;
}
.dessert h2:hover {
    background-size: 100% 100%;
}
.motif5{
    width: 0;height: 0;border-top: 10px solid transparent;border-top: 10px solid transparent;border-right: 285px solid rgb(110, 76, 204);margin-top:20px;
}
.motif6{
    width: 0;height: 0;border-top: 10px solid transparent;border-top: 10px solid transparent;border-left: 285px solid rgb(110, 76, 204) ;margin-top: 20px;
}
.section{
    flex-direction: column;padding:0;margin:0;
}
.entree{
    color:rgb(211,140,48);padding-top: 2%;
}
.plat{
    color:rgb(145, 60, 145);padding-top: 2%;
}
.dessert{
    color:rgb(39, 84, 182);padding-top: 2%;
}
.ligne{
    display: flex;flex-direction: row;
}
.texte{
    width:1000px;padding-left: 100px;
}
.texte p{
    width:70%;font-size: 1.5rem;text-align: left;font-family: 'Brush Scipt MT';
}
.tarif{
    width: 15%;margin:auto;font-size:1.2rem;text-align: center;
}
.validation{
    width: 20%;margin:auto;padding-top: 50px;
}
.validation a{
    font-size: 3rem;font-family: 'Brush Script MT';color:white;border:1px solid rgb(47, 83, 100);background-color: rgb(47, 83, 100);
}
.Information p{
    text-align: center;
}
#footer-menu2{
    margin-bottom: 10px;
    background-color:rgb(47, 83, 100) ;
    color:white;opacity:81%;
}

@media all and (max-device-width:480px)
{
    .motif1, .motif2, .motif3, .motif4, .motif5, .motif6{
        display:none;
    } 
    .entree h2, .plat h2, .dessert h2{
        width: 100%;
    }
    .titre{
        padding-left: 5px;
    }
    .tarif{
        width: 50%;margin:auto;
    }
    .validation{
        width: 50%;margin:auto; text-align: center;
    }
}
