#bar-tete{border-bottom:5px solid  rgb(100, 47, 100);}
#logo img{padding-left: 5px;}
.row{margin:0px;}
a.nav-link{color:rgb(100, 47, 100);margin-left: 10px;font-weight: bold;}
#services, #contact, #accueil{color:rgb(100, 47, 100);}
#produits{color:black;font-size: 1.2em;}
.card{color:rgb(100, 47, 100);text-align: center;font-weight: bold;}
.card p{font-size: 1.2em;}
strong{color:limegreen;}
.navbar-toggler{margin-left: 10%;}
#footer{border-top:5px solid rgb(100, 47, 100);}
#footer span{border-bottom: 2px solid rgb(100, 47, 100);}
#adresse{padding-left: 3%;}
/*body*/
#bar{
    background-color: rgb(47, 83, 100);margin-right: 0px;margin-left: 0px;opacity: 81%;}
#logo img{margin-left: 5px;}
#accueil-panier, #produits-panier{padding-top: 30px;color:white;}
h1{color:rgb(47, 83, 100);}
.recapitulatif p{text-align: center;}
#payer{width: 15%;margin:auto;background-color: rgb(47, 83, 100);text-align: center;margin-bottom: 20px;}
#payer a{color:white;}
#footer-panier{margin-bottom: 10px;background-color:rgb(47, 83, 100) ;opacity:81%;color:white;}
