@font-face{font-family: 'Eras Bold';src:url('../fonts/ERASBD.TTF');/*font pour ohmyfood*/
}
/*Header*/
body{margin:0px;padding:0px;}
#bar-tete{border-bottom:5px solid  rgb(100, 47, 100);}
#logo img{padding-left: 5px;}
.row{margin:0px;}
a.nav-link{color:rgb(100, 47, 100);margin-left: 10px;font-weight: bold;}

#produits, #accueil{color:rgb(100, 47, 100);}
.navbar-toggler{margin-left: 80px;}
#services{color:black;font-size: 1.2em;}
#card p{background-color:rgb(100, 47, 100);color:white;font-family: cursive;width: 100%;text-align: center;}
.card-title{font-family:'Eras Bold' ;}
#adresse{padding-left: 3%;}
#footer{border-top:5px solid rgb(100, 47, 100);}
#footer span{border-bottom: 2px solid rgb(100, 47, 100);}

