
#bar-tete{
    background-color:  rgb(100, 47, 100);
  
}

#logo img{
    padding-left: 5px;
}
.row{
    margin:0px;
}
#mail{
    margin-left: 30px;
    color:rgb(100, 47, 100);
}

a.nav-link{
    color:white;margin-left: 10px;
    /*color:rgb(100, 47, 100);*/
}
#services{
    color:black;
}
#card p{
    background-color:rgb(100, 47, 100);
    color:white;
    font-family: cursive;
    width: 100%;
    text-align: center;
}
#footer{
    margin-bottom: 150px;
    background-color: rgb(100, 47, 100);
    color:white;
}
#footer a{
    color:white;
}
