#bar-tete{
    background-color: rgb(100, 51, 47);
    margin-right: 0px;margin-left: 0px;
}
#logo img{
    margin-left: 5px;
}
a.nav-link{
    color:white;margin-left: 10px;
    /*color:rgb(100, 47, 100);*/
}
#contact, #accueil, #produits, #promotions{
    padding-top: 30px;
}
#accueil{
    color:black;
}
h1{
    text-align: center;
}
h2{
    background-color: rgb(100, 51, 47);
    color:white;
    text-align: center;
    padding-bottom: 5px;
}
#hero{
    width: 100%;
}
#hero img{
    background-size: cover;width: 100%; height: 400px;
}
#card{
    background-color: rgb(100, 51, 47);
    color:white;
    font-size: 2rem;
    text-align: center;
}
h4{
    text-align: center;
}
#footer{
    margin-bottom: 150px;
    background-color: rgb(100, 51, 47) ;
    color:white;
}
#liste a{
    color:white;
}